<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Edit Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    {% load static %}
    <link rel="stylesheet" href="{% static './style.css' %}"> 
    
</head>
<body>
        <h1>{{edit_mess.poster.first_name}}, you are on the Edit Page</h1>
    
        <form action="/edit/{{edit_mess.id}}" method=POST>
            {% csrf_token %}
            <input type="text" name="content" placeholder="{{edit_mess.content}}">
            <input type="submit" value="Edit">
        </form>

</body>
</html>